body{
    background-color: rgb(25, 38, 54);
    color: rgb(52, 180, 131);
    height: 90vh;
}

.block{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block p{
    margin: 0;    
}

p:first-child{
    font-size: 8rem;
}

p + p{
    color: rgb(156, 204, 186);
}