#number
{
    font-size: 180px;
    margin-top: 105px;
    margin-bottom: 0px;
    text-align: center;
  
}
#block
{
    
}
#page
{

    font-size: 35px;
    color: rgba(211, 211, 211, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 0px;
}