/**********************EN-TÊTE************************/
*{
    margin: 0;
}

nav > a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    bottom: 25px;
    font-weight: bold;
    margin-right: 10px;
}
nav > a:hover
{
    font-size: 23px;
    color: rgb(25, 38, 54);
}
header{
    padding: 10px;
    background-color: rgb(52, 180, 131);
}
img
{
    position: relative;
    top: 5px;
}
header a{
    color: white;
}
header nav{
    text-align: right;
}

/****************************Page d'Acceuil**********************/
.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: white;
}
.formulaire{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: rgb(25, 38, 54);
    padding: 2%;
    /*border-radius: 8px;*/
    box-shadow: 2px 2px 15px white;
}
.formulaire h2{
    margin-bottom: 10px;
}
.formulaire form{
    display: flex;
    flex-direction: column;
}

.formulaire form label{
    font-weight: bold;
    padding: 5px 0;
}
.formulaire .input{
    height: 30px;
    padding: 1% 3%;
    margin-bottom: 5px;
    outline: none;
}
.submit{
    padding: 5px;
    margin-top: 15px;
    height: 40px;
    background-color: rgb(52, 180, 131);
    color: white;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
}

/**************************INDEX****************************/

.container{
    padding: 30px;
    background-color: gray;
}
.month{
    text-align: center;
    padding: 5px;
    background-color: rgb(25, 38, 54);
    color: whitesmoke;
    margin: auto;
    border: solid white 5px;
    border-radius: 10px;
    width: 500px;
}

.month table{
    margin: auto;
    text-align: center;
    width: 450px;
    height: 300px;
}
th{
    text-decoration: underline;
}
footer{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(25, 38, 54);
}


/*----------------ADMIN-----------------------*/

body
{
    margin: 0;
    padding: 0;
    background: gray;
}
#tab
{
    margin: 50px 0 0 0 ;
    padding: 0;
    width: 800px;
    margin-bottom: 100px;
    color: whitesmoke;
    background: rgb(25, 38, 54);
    padding: 20px;
}
#tab th
{
    text-align: left;
    text-decoration: none;

    border-collapse: collapse;
}
#tab tr:first-child
{
    position: relative;
    bottom: 20px;
}
#tab td
{
    padding: 20px 0;
}
#tab tr:nth-child(2n)
{
    background: rgb(30, 43, 59);
}
#tab tr:nth-child(2n+1):not(tr:first-child)
{
    background: rgb(20, 33, 49);
}

/********************ADMIN_FORMULAIRE*****************************/
.form-containerA{
   /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
    margin: 100px;
    height: 85vh;
    color: white;
}
.formulaireA{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(25, 38, 54);
    padding: 2%;
    /*border-radius: 8px;*/
    box-shadow: 2px 2px 15px white;
}
.formulaireA h2{
    margin-bottom: 10px;
}
.formulaireA form{
    display: flex;
    flex-direction: column;
}

.formulaireA form label{
    font-weight: bold;
    padding: 5px 0;
}
.formulaireA .input{
    height: 30px;
    padding: 1% 3%;
    margin-bottom: 5px;
    outline: none;
}
.submit{
    padding: 5px;
    margin-top: 15px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(52, 180, 131);
    color: white;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
    /*box-shadow: 7px 6px28px 1px rgba(0,0,0,0.24);*/
    outline: none;
    transition: 0.2s all;
}
.submit:hover{
    background-color: green;
}
.submit:active{
    transform: scale(0.98);
    /*box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);*/
}
